{% load i18n admin_urls %}

<div class="bg-gray-100 bottom-0 flex flex-col-reverse gap-3 items-center justify-end px-4 py-3 sticky dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 lg:flex-row lg:px-12 z-20">
    {% if show_delete_link and original %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="bg-red-600 border border-transparent cursor-pointer flex font-medium items-center justify-center hover:bg-red-700 px-3 py-2 rounded-md text-white text-sm w-full lg:w-auto">
            O'chirish
        </a>
    {% endif %}

    {% if show_save_as_new %}
        <button type="submit" name="_saveasnew" class="bg-white border border-gray-300 cursor-pointer flex font-medium items-center justify-center hover:bg-gray-50 px-3 py-2 rounded-md text-gray-700 text-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:text-gray-200 w-full lg:w-auto">
            Yangi deb saqlash
        </button>
    {% endif %}

    {% if show_save_and_add_another %}
        <button type="submit" name="_addanother" class="bg-white border border-gray-300 cursor-pointer flex font-medium items-center justify-center hover:bg-gray-50 px-3 py-2 rounded-md text-gray-700 text-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:text-gray-200 w-full lg:w-auto">
            Saqlash va boshqasini qo'shish
        </button>
    {% endif %}

    {% if show_save_and_continue %}
        <button type="submit" name="_continue" class="bg-white border border-gray-300 cursor-pointer flex font-medium items-center justify-center hover:bg-gray-50 px-3 py-2 rounded-md text-gray-700 text-sm dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 dark:text-gray-200 w-full lg:w-auto">
            Saqlash va tahrirlashda davom etish
        </button>
    {% endif %}

    {% if show_save %}
        <button type="submit" name="_save" class="bg-primary-600 border border-transparent cursor-pointer flex font-medium items-center justify-center hover:bg-primary-700 px-3 py-2 rounded-md text-white text-sm w-full lg:w-auto">
            Saqlash
        </button>
    {% endif %}
</div>
